
<h1><%= title %></h1>

<div class="container">
    <div class="row">
        <div class="cold-md-12">
            <label for="">Add Title</label>
            <input type="text" class="form-control">
        </div>

        <div class="col-md-12">
            <label for="">Body</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
    </div>
</div>