<div class="container">
    <h3 class="bg-dark text-white p-4 text-center"><%= title %></h3>

    <h1><%= article.title %></h1>


    <h5>Written By: <%= article.author %></h5>
    
    <p><%= article.body %></p>
    
</div>