<div class="container">
    <h3 class="bg-dark text-white p-4 text-center"><%= title %></h3>


<% for(var i=0; i<articles.length; i++){ %>
    <!-- <h1><a href="#"><%= articles[i].title %></a></h1> -->
    <ul class="list-group">
        <li class="list-group-item"><%= articles[i].title %></li>
    </ul>
<% } %>
</div>